/* fonts */
.pure-g [class*="pure-u"] {
  font-family: Roboto, sans-serif;
}

pre,
textarea {
  font-family: "Roboto Mono", monospace;
}

h1,
h2,
h3,
th {
  font-family: "Open Sans", sans-serif;
}

/* the other stuff */

body {
  background-color: beige;
}

div#root {
  margin: 0 10px;
}

textarea {
  height: 150px;
}

p {
  text-align: justify;
}

.pure-menu-heading,
.pure-menu-item {
  font-size: 1.2em;
}

.material-icons {
  color: #777;
  font-size: 34px;
}

form,
table {
  max-width: 48em;
}

table {
  word-wrap: break-word;
}

th,
td {
  max-width: 32em;
}

input[type="submit"] {
  margin: 0 5px;
}
